/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    background: #7c7c7c;*/
/*}*/

/* BotÃ³n circular estilo Omnitrix */
.neon__button {
  position: relative;
  width: 40px;
  height: 40px;
  /*background: #d3d3d3; !* Gris de fondo *!*/
  /*background: #919191; !* Gris de fondo *!*/
  border-radius: 50%;
  border: 4px solid black;
  box-shadow: 0 0 10px #555;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

/* ROMBO CENTRAL (Por defecto en gris) */
.rombo {
  position: absolute;
  width: 90%;
  height: 100%;
  /*background: #c5c5c5;*/
  background: #fa7f7f;
  /*background: #e7e7e7;*/
  clip-path: polygon(10% 0%, 90% 0%, 65% 50%, 90% 100%, 10% 100%, 35% 50%);
  box-shadow: inset 0 0 5px black;
  transition: 0.5s;
}

/* Secciones negras a los lados */
/*.lado {*/
/*    position: absolute;*/
/*    width: 35%;*/
/*    height: 100%;*/
/*    background: black;*/
/*    clip-path: polygon(0 0, 100% 0, 75% 50%, 100% 100%, 0 100%, 25% 50%);*/
/*}*/

/*!* Lado izquierdo *!*/
/*.lado.izq {*/
/*    left: 0;*/
/*}*/

/*!* Lado derecho *!*/
/*.lado.der {*/
/*    right: 0;*/
/*}*/

/* EFECTO HOVER - ROMBO CAMBIA A ROJO */
.neon__button:hover {
  box-shadow:
    0 0 20px #ff0000,
    0 0 60px #ff0000;
}

.neon__button:hover .rombo {
  background: red;
  box-shadow:
    inset 0 0 5px black,
    0 0 20px red;
}

@media (min-width: 640px) {
  .neon__button {
    width: 70px;
    height: 70px;
  }
}
