.neon__button {
  position: relative;
  width: 15vw;
  height: 15vw;
  /*min-height: 44px;*/
  /*min-width: 44px;*/
  max-width: 85px;
  max-height: 85px;
  background: black;
  border-radius: 50%;
  border: 0.25vw solid #8be308;
  box-shadow:
    0 0 1vw #8be308,
    0 0 1vw #8be308;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.neon__button:hover {
  background-image: none !important;
}

.rombo {
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 85% 50%, 50% 100%, 15% 50%);
}

.alien-silhouette {
  width: 86%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.neon__button:hover .reloj {
  opacity: 0;
}

.neon__button:hover .rombo {
  width: 90%;
  height: 100%;
  background: #8be308;
  box-shadow:
    0 0 1.5vw #8be308,
    0 0 4.5vw #8be308;
  opacity: 1;
}

.neon__button:hover .alien-silhouette {
  visibility: visible;
  opacity: 1;
}

/* Media Queries para tamaños más pequeños */
@media (max-width: 600px) {
  .neon__button {
    /*width: 15vw;*/
    /*height: 15vw;*/
    max-width: 85px;
    max-height: 85px;
    border: 0.4vw solid #8be308;
    box-shadow:
      0 0 1.5vw #8be308,
      0 0 3vw #8be308;
  }

  .neon__button:hover .rombo {
    width: 85%;
    height: 85%;
  }
}
